html, body {
  height: 100%;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  position: relative;
}

main {
  width: 90%;
  margin: auto;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header-logo {
  display: block;
  width: 75%;
  height: auto;
  margin: -34% auto 0 auto;
}

#header-bg {
  display: block;
  width: 75%;
  height: auto;
  margin: -24% auto .8rem auto;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  padding: 1.2rem 0;
}

.faq-accordion {
  padding: .8rem 1rem 3rem 1rem;
}

.faq-question {
  width: 90%;
  height: auto;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq-question > input[id*="btnControl"] {
  display: none;
}

.btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  display: inline-block;
  width: 85%;
  font-size: 0.8rem;
  color: hsl(238, 29%, 16%);
}

.faq-question > div {
  display: none;
  height: 0;
  font-size: 12px;
  color:hsl(238, 29%, 16%);
}

input[id*="btnControl"]:checked + label + div {
  display: block;
  height: auto;
  padding-top: .75rem;
}

input[id*="btnControl"]:checked + label > h2 {
  font-weight: 700;
}

input[id*="btnControl"]:checked + label > div {
  display: block;
  height: auto;
}

input[id*="btnControl"]:checked + label > img {
  transform: rotate(180deg);
}

.btn > img {
  width: 10px;
  height: 7px;
  align-self: center;
}

@media (min-width: 600px) {
  #header-logo {
    width: 60%;
    margin-top: -27%;
  }

  #header-bg {
    width: 60%;
    margin-top: -20%;
  }
}

@media (min-width: 768px) {
  h1 {
    padding: .6rem 0;
  }

  .faq-accordion {
    padding: .8rem .3rem 2.4rem .3rem;
  }

  .faq-question {
    width: 95%;
  }
}

@media (min-width: 800px) {
  main {
    display: flex;
    overflow: hidden;
  }

  #header-logo {
    display: none;
  }

  #header-bg {
    content: url('../images/bg-pattern-desktop.svg');
    width: 50%;
    margin-left: -25%;
    margin-bottom: -15%;
  }
}